@model PostsVM

@{
    ViewData["Title"] = "Blog";
}

@foreach (var post in Model.Posts)
{
    <div>
        <a asp-action="Post" asp-route-slug="@post.Data.Slug" asp-route-id="@post.Id">
            <h2>@post.Data.Title</h2>
        </a>

        @Html.Raw(post.Data.Text)
    </div>
}