@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="invalid-feedback">@ViewData["Title"]</h1>
    <p class="invalid-feedback">This account has been locked out, please try again later.</p>
</header>
