@page
@inject IHtmlLocalizer<AppResources> T
@model ConfirmEmailModel
@{
    ViewData["Title"] = T["ConfirmEmailTitle"];
}

<h1>@ViewData["Title"]</h1>

<p class="text-muted">
    @T["ConfirmEmailText"]
</p>
