@page
@inject IHtmlLocalizer<AppResources> T
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = T["ForgotPasswordConfirmationTitle"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @T["ForgotPasswordConfirmationText"]
</p>
