@page
@inject IHtmlLocalizer<AppResources> T
@model ForgotPasswordModel
@{
    ViewData["Title"] = T["ForgotPasswordTitle"];
}

<h1>@ViewData["Title"]</h1>

<p class="text-muted">
    @T["ForgotPasswordText"]
</p>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

    <div class="form-group">
        <label asp-for="Input.Email">@T["EmailLabel"]</label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="invalid-feedback"></span>
    </div>

    <button type="submit" class="btn btn-primary">@T["ForgotPasswordButton"]</button>
</form>