@page
@inject IHtmlLocalizer<AppResources> T
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = T["ResetPasswordConfirmTitle"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @T["ResetPasswordConfirmText"] <a asp-page="./Login">@T["Login"]</a>
</p>
