# User-specific files
*.suo
*.user
*.vs
*.log

.vs
.git

.vscode/

# Build results
build/
bin/
obj/
out/
publish/

# NodeJS 
node_modules/

# Development Settings
appsettings.Development.json
appsettings.Production.json
launchSettings.json
.idea/
