@inject IApiClient ApiClient

@{ 
    var pages = await ApiClient.GetPagesAsync();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Squidex Blog Sample</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar fixed-top navbar-dark bg-primary navbar-expand-lg">
        <div class="container">
            <a asp-controller="Home" asp-action="Posts" class="navbar-brand">Squidex Blog Sample</a>

            <ul class="navbar-nav mr-auto">
                @foreach (var pageItem in pages)
                {
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Page" asp-route-slug="@pageItem.Data.Slug" class="nav-link">@pageItem.Data.Title</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
