@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}

<h4>@ViewData["Title"]</h4>

@{await Html.RenderPartialAsync("_StatusMessage", Model.StatusMessage);}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

    <div class="form-group">
        <label asp-for="UserInfo.Data.UserName"></label>
        <input asp-for="UserInfo.Data.UserName" class="form-control" disabled />
    </div>

    <div class="form-group">
        <label asp-for="Input.Email"></label>

        @if (Model.IsEmailConfirmed)
        {
            <div class="input-group">
                <input asp-for="Input.Email" class="form-control" />
                <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
            </div>
        }
        else
        {
            <input asp-for="Input.Email" class="form-control" />
            <button asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
        }

        <span asp-validation-for="Input.Email" class="invalid-feedback"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>