name: Build Dotnet SDK

on:
  push:
    tags:
      - 'dotnet-sdk-*'

jobs:
  build:

    runs-on: ubuntu-latest
        
    steps:
    - uses: actions/checkout@v1
 
    - name: setup dotnet
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 7.0.x

    - name: publish
      run: |
        cd csharp/Squidex.ClientLibrary
        dotnet pack -c Release

    - name: pack
      run: |
        cd csharp/Squidex.ClientLibrary
        dotnet nuget push **/*.nupkg --source 'https://api.nuget.org/v3/index.json' --skip-duplicate -k ${{ secrets.nuget }}
